body {
  font-family: Helvetica;
  font-size: 18px;
  width: 960px;
  margin: auto;
  /*line-height: 1.4px;*/
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  /*line-height: 1.2px;*/
}

header {
  background: url(../images/glasses-bg.png) no-repeat center center;
  background-size: cover;
  height: 30rem;
}

.navcontainer {
  width: 960px;
  height: 3.5rem;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}


nav {
  padding: 1rem 2rem;
  justify-content: space-between;
}

nav span {
  padding: 1rem;
}

.header-card {
  background-color: white;
  width: 25rem;
  padding: 1.5rem 5rem;
  margin: 10rem 30rem;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  /*height: 8rem;*/
}

.imagecontainer-card {
  width: 5rem;
  padding: 3rem 6rem;
}

.imagecontainer-card img {
  /*width: 3.5rem;*/
}

.infocontainer {
  display: flex;
  justify-content: space-around;
}

.info-card {
  width: 35%;
}

.info-card h2 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  margin: 1rem;
  padding: .5rem 1.25rem;
}

footer {
  height: 9.5rem;
  background-color: azure;
  display: flex;
  align-items: center;
}
